.places {
    max-width: 984px;
    margin: 92px auto;
    width: calc(100% - 96px);
}

@media all and (max-width: 768px) {
    .places {
        margin: 88px auto;
        width: calc(100% - 48px);
    }
}

@media all and (max-width: 530px) {
    .places {
        margin: 64px auto;
    }
}

@media all and (max-width: 425px) {
    .places {
        width: 100%;        
    }
}